doctype html
html(lang='en')
	head
		title MyLibrary
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/user-style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	body
		nav.navbar.navbar-expand-lg.navbar-light.navbar-custom
			a.navbar-brand(href='#') My Library
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon

			.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					if user
						li.nav-item(class=(title == 'library' ? 'active' : ''))
							a.nav-link(href='/') #{user.username}'s library
								span.sr-only
						li.nav-item(class=(title == 'loan' ? 'active' : ''))
							a.nav-link(href='/loan') Loaned books
								span.sr-only
					if !user
						li.nav-item(class=(title == 'Register' ? 'active' : ''))
							a.nav-link(href='/users/register') Register
						li.nav-item(class=(title == 'Login' ? 'active' : ''))
							a.nav-link(href='/users/login') Login
				ul.navbar-nav.navbar-right
					if user
						li.nav-item
							a.nav-link(href='/users/logout') Logout
		if window
			each object, key in window
				script.
					window.!{key} = !{JSON.stringify(object)};
		.general-container
			//- != messages()
			block content

	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
	script(src='javascripts/bootstrap.js')
	script(src='javascripts/test.js')