extends layout

block content
    .loaned-books
        h3 Books I've loaned:
        p Move a book from my library:
        form.book-form(method='post', action='/loanBook', enctype='application/x-www-form-urlencoded')
            .form-group.row
                label.col-sm-3.col-form-label Book Title
                input.col-sm-8.form-control(name='bookName', type='text', placeholder='Enter book title')
            .form-group.row
                label.col-sm-3.col-form-label Author
                input.col-sm-8.form-control(name='author', type='text', placeholder='Enter author name')
            .form-group.row
                label.col-sm-3.col-form-label Loanee
                input.col-sm-8.form-control(name='location', type='text', placeholder='Enter loanee name')
            input(name='username', type='hidden', value='#{user.username}')
            .add-book-btn
                input.btn.mb-3(type='submit', name='submit', value='Loan book')

        p Return a book to my library:
        form.book-form(method='post', action='/loanBook', enctype='application/x-www-form-urlencoded')
            .form-group.row
                label.col-sm-3.col-form-label Book Title
                input.col-sm-8.form-control(name='bookName', type='text', placeholder='Enter book title')
            .form-group.row
                label.col-sm-3.col-form-label Author
                input.col-sm-8.form-control(name='author', type='text', placeholder='Enter author name')
            input(name='username', type='hidden', value='#{user.username}')
            input(name='location', type='hidden', value='Library')
            .add-book-btn
                input.btn.mb-3(type='submit', name='submit', value='Return book')