extend layout

block content
	.header-container
		h1.login-header MY LIBRARY
		h2.welcome Welcome to My Library
	.header-image

	.login-content
		.container
			p.about My Library gives you the ability to have all of your books, whether they are paper or virtual, in one place and keep track on books you've loaned and to know where they are.
			.login-error
				!= messages()
			.login-form-container
				.login-form
					form.login-form.form-inline(method='post', action='/users/login')
						.form-group.mb-2
							input.form-control(name='username', type='text', placeholder='Username')
						.form-group.mb-2.mx-sm-3
							input.form-control(name='password', type='password', placeholder='Password')
						input.mb-2.btn.btn-custom(type='submit', name='submit', value='login')
			
			p.register-link or 
				a(href='/users/register') register
			br