extend layout

block content
	.register-container
		.container.register-content
			.left-col
				.register-header
					h2.register-header Register
					h4 Create a MyLibrary account
					br
				form.register-form(method='post', action='/users/register', enctype='multipart/form-data')
					.form-group.row
						label.col-sm-2.col-form-label Name
						.col-sm-9
							input.form-control(name='name', type='text', placeholder='Enter name')
					.form-group.row
						label.col-sm-2.col-form-label Email
						.col-sm-9
							input.form-control(name='email', type='email', placeholder='Enter Email')
					.form-group.row
						label.col-sm-2.col-form-label Username
						.col-sm-9
							input.form-control(name='username', type='text', placeholder='Enter Username')
					.form-group.row
						label.col-sm-2.col-form-label Password
						.col-sm-9
							input.form-control(name='Password', type='Password', placeholder='Enter Password')
					.form-group.row
						label.col-sm-2.col-form-label Confirm Password
						.col-sm-9
							input.form-control(name='conPassword', type='password', placeholder='Confirm Password')
					//- .form-group
					//- 	label Profile Image
					//- 	input.form-control(name='profileImage', type='file')
					input.btn.btn-custom(type='submit', name='submit', value='register')
			.right-col
				h4.login-link Already have an account?
				h4.login-link
					a(href='/users/login') login
				if errors
					ul.errors
						each error, i in errors
							li.alert-custom #{error.msg}



					